<html lang="en" xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <div class="panel-body" style="{flex.background_style}">
        <div class="list-group" style="opacity: 0.85;">
            <f:if condition="{flex.contents.markers}">
                <f:then>
                    <div class="list-group-item">
                        <h3><f:translate key="LLL:EXT:rt_simpleosm/Resources/Private/Language/locallang_db.xlf:tx_rt_simpleosm_sosm.mapRecord" /></h3>
                        <ul class="list-group">
                            <f:for each="{flex.contents.markers}" as="osm">
                                <li class="list-group-item">
                                    <h4><f:image src="{osm.icon}" width="15" alt="" />&nbsp;{osm.title} <code>[{osm.uid}]</code></h4>
                                    <dl>
                                        <f:for each="{osm.attributes}" as="value" key="label">
                                            <dt><f:translate key="LLL:EXT:rt_simpleosm/Resources/Private/Language/locallang_db.xlf:tx_rtsimpleosm_domain_model_osm.{label}" /></dt>
                                            <dd><f:format.raw>{value}</f:format.raw></dd>
                                        </f:for>
                                    </dl>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                    <div class="list-group-item">
                        <h3><f:translate key="LLL:EXT:rt_simpleosm/Resources/Private/Language/locallang_db.xlf:tx_rt_simpleosm_sosm.sheet.styling" /></h3>
                        <f:image width="85" height="85" src="EXT:rt_simpleosm/Resources/Public/maps/map_{flex.contents.mapStyle}.png" alt="" /><br />
                        <strong><f:translate key="LLL:EXT:rt_simpleosm/Resources/Private/Language/locallang_db.xlf:tx_rt_simpleosm_sosm.mapStyle" /></strong>:
                        <f:translate key="LLL:EXT:rt_simpleosm/Resources/Private/Language/locallang_db.xlf:tx_rt_simpleosm_sosm.mapStyle.{flex.contents.mapStyle}" />
                    </div>
                    <f:if condition="{flex.contents.styling}">
                    <div class="list-group-item">
                        <dl>
                            <f:for each="{flex.contents.styling}" as="value" key="label">
                                <dt><f:translate key="LLL:EXT:rt_simpleosm/Resources/Private/Language/locallang_db.xlf:tx_rt_simpleosm_sosm.{label}" /></dt>
                                <dd>{value}</dd>
                            </f:for>
                        </dl>
                    </div>
                    </f:if>
                    <div class="list-group-item">
                        <h3><f:translate key="LLL:EXT:rt_simpleosm/Resources/Private/Language/locallang_db.xlf:tx_rt_simpleosm_sosm.sheet.options" /></h3>
                        <dl>
                            <f:for each="{flex.contents.options}" as="value" key="label">
                                <dt><f:translate key="LLL:EXT:rt_simpleosm/Resources/Private/Language/locallang_db.xlf:tx_rt_simpleosm_sosm.{label}" /></dt>
                                <dd>{value}</dd>
                            </f:for>
                        </dl>
                    </div>
                </f:then>
                <f:else>
                    <div class="list-group-item">
                        <h3><core:icon identifier="actions-exclamation-triangle-alt" size="small" /> <f:format.raw><f:translate key="LLL:EXT:rt_simpleosm/Resources/Private/Language/locallang.xlf:map.label.noValidMapRecordSelected" /></f:format.raw></h3>
                    </div>
                </f:else>
            </f:if>
        </div>
    </div>
</html>